div.aboutTwo {
    padding-bottom: 40px; }
  div.aboutStructure {
    padding: 15px; }
    div.aboutStructure div.col-sm-6 button {
      background-color: #8c6d2c;
      color: black;
      font-weight: bold;
      border: 2px solid black; }
  div.donateOne {
    margin-top: 107px;
    border-top: 3px solid black;
    background-color: black;
    color: #8c6d2c;
    padding: 80px 15px; }
  div.donateTwo {
    padding: 50px; }
  div.donateCenter {
    border: 3px solid black;
    display: block;
    margin: auto;
    padding: 10px; }

    @media (max-width: 991px) {
      div.aboutStructure {
        padding: 0 15px;
        margin-top: 15px; }
        div.aboutStructure div.col-sm-6 {
          padding: 0 15px;
          margin-top: 15px; }
    }